/nbproject

/202/build
/202/younitedpaysdk
/202/test/YounitedPay/YounitedPayAuth.php
/config*.xml
#/composer.json
/.project
/node_modules
.php_cs.cache
*.log
.php_cs.dist*

# Vendors (keep 202 !)
/vendor/*
!/vendor/totpsclasslib